body {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 80%;
  margin: auto;
  padding: 2em 1em;
}

.header {
  display: flex;
 
  line-height: 5em;
  height: 5em;
}

.main-title {
  font-size: 300%;
  /* flex-grow: 6;
  font-weight: 800;*/
  color: seagreen;
  text-decoration: none;
  /*margin-bottom: 20px; */
}

.nav-bar {
  /* margin: 1em 0; */
  box-sizing: border-box;
  text-align: left;
  font-size:20px;
  font-weight: bolder;
  line-height: 1em;
  height: 1em;
 
}
  /* display: flex;
  flex-grow: 2;
} */
/* 
nav a {
  border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #eeeeee;
  flex-direction: row;
  height: 1em;
 
} */

nav a:hover {
  background-color: orange;
  color: blue;
}

a,
a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  background-color: #ccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.25em;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: -0.05em;
  text-decoration: none;
  /* border-bottom: 1px solid black; */
}

.categories {
  display: flex;
  justify-content: space-around;
}

.category-card {
  margin-top: 50px;
  background-color: lightblue;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  box-shadow: 5px 10px 50px gray;
  border-radius: 20px;
  vertical-align: middle;
  text-align: center;
}

h2 > a {
  font-size: 0.75em;
}

input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
}

input[type="submit"],
a.delete {
  width: auto;
  padding: 9px 15px;
  background-color: gray;
  border: 0;
  font-size: 14px;
  color: #ffffff;
}

a.delete {
  background-color: red;
}

/* .product-photo {
  width: 400px;
} */
/* 
.user-info {
  float: right;
}

a.fav {
  text-decoration: none;
  color: red;
}

a.no-fav {
  text-decoration: none;
  color: black;
}

.fav:visited,
.no-fav:visited {
  text-decoration: none;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  margin: 0 auto;
  padding: 10px;
} */

img{
  width: 30vmin;
  height: 30vmin;
}


.prod_list{
  margin: 2%;
  display: flex;
  flex-wrap: wrap;

}

.prod_card{
  display:inline;
  padding: 20px;
  flex-basis:20%;
  box-sizing: border-box;
  text-align: center;
  border:2px solid black;
  border-radius: 5%;

}

.prod_info{
  display: flex;
  line-height: 40px;
  height: 40px;

}

.prod_name{
  box-sizing: border-box;
  text-align: left;
  font-size:20px;
  font-weight: bolder;
  line-height: 40px;
  height: 40px;
}

.prod_price{
  box-sizing: border-box;
  text-align: left;
  line-height: 40px;
  height: 40px;


}
